* {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
  --container-background: rgba(255, 255, 255, .9);
  --primary: #2196f3;
  --primary-darker: #1976d2;
  --primary-darkest: #0d47a1;
  --font-color-light: #fff;
  --font-color-dark: #000;
  --font-color: var(--font-color-dark);
  --border-radius: 4px;
  --border-color: #e0e0e0;
  --anchor-color: var(--primary);
  --anchor-color-hover: var(--primary-darker);
  --anchor-color-active: var(--primary-darkest);
  --error: #e53935;
}

@media (prefers-color-scheme: dark) {
  :root {
    --container-background: rgba(0, 0, 0, .7);
    --primary: #3f51b5;
    --primary-darker: #303f9f;
    --primary-darkest: #1a237e;
    --font-color: var(--font-color-light);
    --anchor-color: #eceff1;
    --anchor-color-hover: #cfd8dc;
    --anchor-color-active: #b0bec5;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  background-color: var(--container-background);
  color: var(--font-color);
  overflow: hidden;
}

.center {
  margin: 0 auto;
  text-align: center;
}

a, a:visited {
  color: var(--anchor-color);
}

a:hover {
  color: var(--anchor-color-hover);
}

a:active {
  color: var(--anchor-color-active);
}

.btn {
  appearance: none;
  background: var(--primary);
  color: var(--font-color-light);
  border-radius: var(--border-radius);
  border: none;
  font-size: 1em;
  line-height: 2em;
  display: inline-block;
  touch-action: manipulation;
  padding: 0 4px;
  user-select: none;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:hover:not([disabled]) {
  background-color: var(--primary-darker);
}

.btn:active:not([disabled]) {
  background-color: var(--primary-darkest);
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--large {
  font-size: 1.5em;
}

.play-card__wrapper {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  text-align: center;
}

.play-card__list {
  list-style-type: none;
  padding: 0;
}

.play-card__list-item {
  line-height: 2rem;
}

.play-card__name {
  border-bottom: 2px solid var(--border-color);
}

.play-card__id {
  display: block;
  text-align: right;
  font-size: .6em;
  color: #aaa;
  padding: 2px;
}

.router-link {
  margin-right: 4px;
  text-decoration: none;
}

.router-link-active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
}

.error-message__wrapper {
  border-radius: var(--border-radius);
  color: var(--font-color-light);
  background-color: var(--error);
  padding: 8px;
}

.row--padded {
  padding: 4px 0;
}

.row .row {
  margin: 0;
}
